In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import sklearn as sk

In [13]:
path = "data/raw/properties.csv"

df = pd.read_csv(path)

In [14]:
df

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.2171725,4.3799821,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.8420431,4.3345427,...,0,0.0,0,1,AS_NEW,,MISSING,GAS,0,
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.2383125,4.8171921,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,,,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,30785000,210000.0,APARTMENT,APARTMENT,Wallonia,Hainaut,Tournai,7640,,,...,0,0.0,0,1,AS_NEW,,MISSING,MISSING,1,
75507,13524000,780000.0,APARTMENT,PENTHOUSE,Brussels-Capital,Brussels,Brussels,1200,50.8401828,4.4355698,...,0,0.0,0,0,AS_NEW,95.0,B,GAS,1,
75508,43812000,798000.0,HOUSE,MIXED_USE_BUILDING,Brussels-Capital,Brussels,Brussels,1080,,,...,0,0.0,0,1,TO_RENOVATE,351.0,G,GAS,0,
75509,49707000,575000.0,HOUSE,VILLA,Flanders,West Flanders,Veurne,8670,,,...,1,,0,1,AS_NEW,269.0,C,GAS,1,795.0
75510,65278000,515000.0,APARTMENT,PENTHOUSE,Flanders,Antwerp,Antwerp,2000,51.2207529,4.4102467,...,0,0.0,0,0,MISSING,,MISSING,MISSING,1,

In [15]:
def clean_data(houses_data):
    # Strip leading and trailing spaces from column names and make them lower case
    houses_data.columns = houses_data.columns.str.strip().str.lower()

    # Convert data types
    cols_to_convert = [
        "latitude",
        "longitude",
        "construction_year",
        "total_area_sqm",
        "surface_land_sqm",
        "terrace_sqm",
        "garden_sqm",
        "primary_energy_consumption_sqm",
        "cadastral_income",
    ]
    cols_to_convert = [col for col in cols_to_convert if col in houses_data.columns]
    houses_data[cols_to_convert] = houses_data[cols_to_convert].apply(
        pd.to_numeric, errors="coerce"
    )

    # Handle missing values
    # drop rows with missing price
    houses_data.dropna(subset=["price"], inplace=True)

    # Remove duplicates
    houses_data.drop_duplicates(inplace=True)
    
    # Remove the latutude and longitude columns
    houses_data = houses_data.drop(columns=["latitude", "longitude"])

    return houses_data

In [16]:
df = clean_data(df)

In [17]:
df

,id,price,property_type,subproperty_type,region,province,locality,zip_code,construction_year,total_area_sqm,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,1963.0,100.0,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,NaN,NaN,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,NaN,142.0,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,2024.0,187.0,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,2022.0,169.0,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,30785000,210000.0,APARTMENT,APARTMENT,Wallonia,Hainaut,Tournai,7640,2023.0,73.0,...,0,0.0,0,1,AS_NEW,NaN,MISSING,MISSING,1,NaN
75507,13524000,780000.0,APARTMENT,PENTHOUSE,Brussels-Capital,Brussels,Brussels,1200,NaN,141.0,...,0,0.0,0,0,AS_NEW,95.0,B,GAS,1,NaN
75508,43812000,798000.0,HOUSE,MIXED_USE_BUILDING,Brussels-Capital,Brussels,Brussels,1080,NaN,400.0,...,0,0.0,0,1,TO_RENOVATE,351.0,G,GAS,0,NaN
75509,49707000,575000.0,HOUSE,VILLA,Flanders,West Flanders,Veurne,8670,1990.0,190.0,...,1,NaN,0,1,AS_NEW,269.0,C,GAS,1,795.0
75510,65278000,515000.0,APARTMENT,PENTHOUSE,Flanders,Antwerp,Antwerp,2000,2024.0,103.0,...,0,0.0,0,0,MISSING,NaN,MISSING,MISSING,1,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75511 non-null  int64
 1   price                           75511 non-null  float64
 2   property_type                   75511 non-null  object
 3   subproperty_type                75511 non-null  object
 4   region                          75511 non-null  object
 5   province                        75511 non-null  object
 6   locality                        75511 non-null  object
 7   zip_code                        75511 non-null  int64
 8   construction_year               42120 non-null  float64
 9   total_area_sqm                  67896 non-null  float64
 10  surface_land_sqm                39255 non-null  float64
 11  nbr_frontages                   75511 non-null  object
 12  nbr_bedrooms                    75511 non-null  float64
 13  equipped_kitchen                75511 non-null  object
 14  fl_furnished                    75511 non-null  int64
 15  fl_open_fire                    75511 non-null  int64
 16  fl_terrace                      75511 non-null  int64
 17  terrace_sqm                     62371 non-null  float64
 18  fl_garden                       75511 non-null  int64
 19  garden_sqm                      72572 non-null  float64
 20  fl_swimming_pool                75511 non-null  int64
 21  fl_floodzone                    75511 non-null  int64
 22  state_building                  75511 non-null  object
 23  primary_energy_consumption_sqm  48944 non-null  float64
 24  epc                             75511 non-null  object
 25  heating_type                    75511 non-null  object
 26  fl_double_glazing               75511 non-null  int64
 27  cadastral_income                30544 non-null  float64
dtypes: float64(9), int64(9), object(10)
memory usage: 16.1+ MB

In [19]:
df.describe()

,id,price,zip_code,construction_year,total_area_sqm,surface_land_sqm,nbr_bedrooms,fl_furnished,fl_open_fire,fl_terrace,terrace_sqm,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,primary_energy_consumption_sqm,fl_double_glazing,cadastral_income
count,7.551100e+04,7.551100e+04,75511.000000,42120.000000,67896.000000,39255.000000,75511.000000,75511.000000,75511.000000,75511.000000,62371.000000,75511.000000,72572.000000,75511.000000,75511.000000,4.894400e+04,75511.000000,3.054400e+04
mean,3.973235e+07,4.227709e+05,5144.609342,1984.406054,163.670746,1157.087505,2.787276,0.018792,0.169909,0.590828,11.577384,0.218286,115.640288,0.018686,0.543828,1.688748e+03,0.676762,1.885941e+03
std,2.290417e+07,4.383586e+05,3005.490110,41.528850,415.851108,10117.338517,1.894188,0.135791,0.375555,0.491684,38.721366,0.413085,1388.760283,0.135415,0.498079,1.589309e+05,0.467716,1.004971e+05
min,0.000000e+00,7.600000e+04,1000.000000,1753.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.400000e+02,0.000000,1.000000e+00
25%,1.989350e+07,2.420000e+05,2240.000000,1962.000000,91.000000,150.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.280000e+02,0.000000,5.450000e+02
50%,3.972200e+07,3.290000e+05,4683.000000,1994.000000,127.000000,362.000000,3.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.420000e+02,1.000000,8.500000e+02
75%,5.954100e+07,4.550000e+05,8370.000000,2022.000000,185.000000,805.000000,3.000000,0.000000,0.000000,1.000000,15.000000,0.000000,0.000000,0.000000,1.000000,3.920000e+02,1.000000,1.249000e+03
max,7.948500e+07,2.250000e+07,9992.000000,2024.000000,88140.000000,950774.000000,200.000000,1.000000,1.000000,1.000000,3466.000000,1.000000,150000.000000,1.000000,1.000000,2.023112e+07,1.000000,1.700170e+07